<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>NULL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>Image_Viewer</servlet-name> 
  <servlet-class>bbs_problem.Image_Viewer</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Image_Viewer</servlet-name> 
  <url-pattern>/Image_Viewer</url-pattern>  
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>Viewer_practice</servlet-name> 
  <servlet-class>practice.Viewer_practice</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Viewer_practice</servlet-name> 
  <url-pattern>/Viewer_practice</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Image_Viewer_for_Solve</servlet-name> 
  <servlet-class>bbs_solve.Image_Viewer_for_Solve</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Image_Viewer_for_Solve</servlet-name> 
  <url-pattern>/Image_Viewer_for_Solve</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Image_Viewer_for_Ask</servlet-name> 
  <servlet-class>bbs_ask.Image_Viewer_for_Ask</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Image_Viewer_for_Ask</servlet-name> 
  <url-pattern>/Image_Viewer_for_Ask</url-pattern>  
  </servlet-mapping>
</web-app>